# Biblioteca pyodbc

1. Precisamos criar uma conexão com o banco de dados.

dados_conexao = ("Driver={Seu_Driver};"
                "Server=SeuServidor;"
                Database=NomeBaseDeDados;")
          
Se estivéssemos usando outro sistema de banco de dados, nosso driver mudaria. Para saber em outros casos, execute:
pyodbc.drivers() -> caso não encontre seu driver ali, basta buscar no google por "driver MeuBancoDeDados for pyodbc" e baixar

In [2]:
import pyodbc

print(pyodbc.drivers())

['SQL Server', 'PostgreSQL ODBC Driver(ANSI)', 'PostgreSQL ODBC Driver(UNICODE)', 'Oracle em OraDB21Home1', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)']

In [24]:
import pyodbc

dados_conexao = ("Driver={PostgreSQL ODBC Driver(ANSI)};" 
                 "Server=localhost;" 
                 "Port=5432;" 
                 "Database=TesteAHMV;" 
                 "Uid=AHMV;"
                 "Password=17$Be!Sd;")

conexao = pyodbc.connect(dados_conexao)
print ("conexao bem sucedida")

conexao bem sucedida

2. Agora, precisamos criar o que o pyodbc chama de cursor, que é basicamente quem vai executar os nossos códigos SQL

In [22]:
cursor = conexao.cursor()
cursor.execute("select * from cities")
valores = cursor.fetchall()
display(valores)

[('San Francisco', '(-194,53)')]

3. Agora já podemos executar nossos comandos SQL.

Temos 2 opções aqui:

    1. Apenas Executar comandos SQL que vão acontecer no banco
    2. Executar o comando SQL e armazenar a consulta em uma variável no Python, como um dataframe do pandas

dataframe = pd.read_sql('COMANDO_SQL', conexao) -> vai executar o comando SQL, gerando uma consulta e retornando a resposta dessa consulta para o dataframe

Para pegar uma tabela inteira do nosso banco de dados, usaremos o comando SQL Select *:
"SELECT * FROM BaseDeDados.Tabela"

In [23]:
import pandas as pd
dataframe = pd.read_sql('Select * from cities', conexao)
display(dataframe)

c:\Users\alvar\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

            name   location
0  San Francisco  (-194,53)

In [ ]:
conexao.close()